[Unit]
Description=Weather Station App
Documentation=https://github.com/StefanSchubert/weatherStation/Readme.md
After=network-online.target

[Service]
User=weatherfrog
Restart=on-failure
WorkingDirectory=/var/weatherStation
ExecStart=/bin/java -jar /var/weatherStation/WeatherStation.jar \
    -Djava.io.tmpdir=/var/weatherStation/tmp \
    -XX:-UsePerfData \
    -Xmx96m \
    -Xms64m \
    -XX:MaxMetaspaceSize=128m

[Install]
WantedBy=multi-user.target
