[Unit]
Description=Weather Station App
Documentation=https://github.com/StefanSchubert/weatherStation/Readme.md
After=network-online.target

[Service]
User=weatherfrog
Restart=on-failure
Environment="JAVA_HOME=/home/weatherfrog/.sdkman/candidates/java/current"
Environment="PATH=/home/weatherfrog/.sdkman/candidates/java/current/bin:/usr/bin:/bin"
ExecStart=/var/weatherStation/WeatherStation.jar

[Install]
WantedBy=multi-user.target
